.main--login {
  text-align: center;

  .brand {
    margin-bottom: 24px;
  }

  .form {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;

    &-field {
      width: 100%;
    }
  }

}
