<!-- ---------------------- -->
<!-- Start Tasks Component  -->
<!-- ---------------------- -->
<div class="main-header">
  <h2>Tareas <small>({{ countOwnTasks }} asignadas)</small></h2>
</div>
<div class="main-content">
  <div class="card-group">
    <app-card-task *ngFor="let task of tasksSubject | async" [task]="task"></app-card-task>
  </div>

  <button mat-fab class="btn-add" color="primary" aria-label="Crear nueva tarea" [routerLink]="['/tasks/create']" >
    <mat-icon>add</mat-icon>
  </button>
</div>
<!-- -------------------- -->
<!-- End Tasks Component  -->
<!-- -------------------- -->
