.btn-add {
  position: fixed;
  bottom: 24px;
  right: 24px;
}

h2 small {
  font-size: 13px;
  color: #425195;
}

.card-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 12px;

  @media screen and (min-width: 769px){
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }
}
