<!-- ----------------------- -->
<!-- Start Header Component  -->
<!-- ----------------------- -->
<header id="header" class="header">
  <mat-toolbar class="header__wrapper">
    <mat-toolbar-row>
      <div class="header__left">
        <h1>{{ title }}</h1>
        <span class="header__description">{{ description }}</span>
      </div>
      <span class="spacer"></span>
      <img mat-card-avatar *ngIf="avatar.avatarUrl" class="img-circle" width="48" height="48" [alt]="avatar.name" [src]="avatar.avatarUrl">
      <img ngxGravatar *ngIf="!avatar.avatarUrl" size="48" [alt]="avatar.name" [email]="avatar.mail">
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<!-- --------------------- -->
<!-- End Header Component  -->
<!-- --------------------- -->
